@{
    ViewBag.Title = "Home Page";
}

<div data-role="charm" id="charmSettings">
    <h1 class="text-light">Settings</h1>
    <hr class="thin" />
    <br />
    <div class="input-control text full-size">
        Configuration section goes here...
    </div>
</div>
<div class="tile-area tile-area-scheme-light-grayed fg-white" style="height: 100%; max-height: 100% !important;">
    <h1 class="tile-area-title fg-black">Home</h1>
    <div class="tile-area-controls">
        <button class="image-button icon-right bg-transparent fg-black bg-hover-dark no-border"><span class="sub-header no-margin text-light">Nishantha Hettiarachchi</span> <span class="icon mif-user"></span></button>
        <button class="square-button bg-transparent fg-black bg-hover-dark no-border" onclick="showCharms('#charmSettings')"><span class="mif-cog"></span></button>
        <a href="../tiles.html" class="square-button bg-transparent fg-black bg-hover-dark no-border"><span class="mif-switch"></span></a>
    </div>
    <div class="tile-group seven">
        <div class="tile-container">
            <div class="tile bg-darkBlue fg-white" data-role="tile">
                <div class="tile-content iconic">
                    <span class="icon mif-lg mif-apps"></span>
                </div>
                <span class="tile-label">System</span>
            </div>
            <div class="tile bg-darkBlue fg-white" data-role="tile" onclick="document.location.href = '/Maintenance/'">
                <div class="tile-content iconic">
                    <span class="icon mif-lg mif-calendar"></span>
                </div>
                <span class="tile-label">Maintenance</span>
            </div>
            <div class="tile bg-darkBlue fg-white" data-role="tile">
                <div class="tile-content iconic">
                    <span class="icon mif-lg mif-space-shuttle"></span>
                </div>
                <div class="tile-label">Aircraft</div>
            </div>
            <div class="tile bg-darkBlue fg-white" data-role="tile">
                <div class="tile-content iconic">
                    <span class="icon mif-lg mif-file-empty"></span>
                </div>
                <span class="tile-label">Reporting</span>
            </div>
            <div class="tile bg-darkBlue fg-white" data-role="tile" onclick="document.location.href = '/ComponentWork/'">
                <div class="tile-content iconic">
                    <span class="icon mif-wrench"></span>
                </div>
                <span class="tile-label">Componant Work</span>
            </div>
            <div class="tile bg-darkBlue fg-white" data-role="tile" onclick="document.location.href = '/SpareParts/'">
                <div class="tile-content iconic">
                    <span class="icon mif-widgets"></span>
                </div>
                <span class="tile-label">Parts</span>
            </div>
            <div class="tile bg-darkBlue fg-white" data-role="tile">
                <div class="tile-content iconic">
                    <span class="icon mif-cog"></span>
                </div>
                <span class="tile-label">Tools</span>
            </div>
            <div class="tile bg-darkBlue fg-white" data-role="tile">
                <div class="tile-content iconic">
                    <span class="icon mif-truck"></span>
                </div>
                <span class="tile-label">Suppliers</span>
            </div>
            <div class="tile bg-darkBlue fg-white" data-role="tile">
                <div class="tile-content iconic">
                    <span class="icon mif-shrink"></span>
                </div>
                <span class="tile-label">Consumables</span>
            </div>
            <div class="tile bg-darkBlue fg-white" data-role="tile">
                <div class="tile-content iconic">
                    <span class="icon mif-bookmarks"></span>
                </div>
                <span class="tile-label">Action Items</span>
            </div>
            <div class="tile bg-darkBlue fg-white" data-role="tile">
                <div class="tile-content iconic">
                    <span class="icon mif-alarm"></span>
                </div>
                <span class="tile-label">Effectivity Groups</span>
            </div>
            <div class="tile bg-darkBlue fg-white" data-role="tile">
                <div class="tile-content iconic">
                    <span class="icon mif-user"></span>
                </div>
                <span class="tile-label">Staff</span>
            </div>
            <div class="tile bg-darkBlue fg-white" data-role="tile">
                <div class="tile-content iconic">
                    <span class="icon mif-flag"></span>
                </div>
                <span class="tile-label">SERDs</span>
            </div>
            <div class="tile bg-darkBlue fg-white" data-role="tile">
                <div class="tile-content iconic">
                    <span class="icon mif-enter"></span>
                </div>
                <span class="tile-label">Account Request</span>
            </div>
            <div class="tile bg-darkBlue fg-white" data-role="tile">
                <div class="tile-content iconic">
                    <span class="icon mif-users"></span>
                </div>
                <span class="tile-label">Labor</span>
            </div>
            <div class="tile bg-darkBlue fg-white" data-role="tile">
                <div class="tile-content iconic">
                    <span class="icon mif-dollars"></span>
                </div>
                <span class="tile-label">Cost Analysis</span>
            </div>
            <div class="tile bg-darkBlue fg-white" data-role="tile">
                <div class="tile-content iconic">
                    <span class="icon mif-organization"></span>
                </div>
                <span class="tile-label">Customers</span>
            </div>
            <div class="tile bg-darkBlue fg-white" data-role="tile">
                <div class="tile-content iconic">
                    <span class="icon mif-equalizer"></span>
                </div>
                <span class="tile-label">Configurable Items</span>
            </div>
            <div class="tile bg-darkBlue fg-white" data-role="tile">
                <div class="tile-content iconic">
                    <span class="icon mif-enlarge"></span>
                </div>
                <span class="tile-label">Breakdown</span>
            </div>
        </div>
    </div>
</div>