@*<script src="~/Scripts/jquery-2.1.3.min.js"></script>
<script src="~/Scripts/metro.js"></script>
<script src="~/Scripts/customTiles.js"></script>
<script src="~/Scripts/select2.min.js"></script>*@

@{
    ViewBag.Title = "ComponentWork";
}

<div class="flex-grid no-responsive-future" style="height: 100%;">
    <div class="row" style="height: 100%">
        <div class="cell size-x200" id="cell-sidebar" style="background-color: #71b1d1; height: 100%">
            <ul class="sidebar">
                <li class="active">
                    <a href="#" onclick="LoadPartialView('Search')">
                        <span class="mif-search icon"></span>
                        <span class="title">Search</span>
                    </a>
                </li>
                <li>
                    <a href="#" onclick="LoadPartialView('NewWorkOrder')">
                        <span class="mif-plus icon"></span>
                        <span class="title">New Work Order</span>
                    </a>
                </li>
                <li>
                    <a href="#" onclick="LoadPartialView('NewComponent')">
                        <span class="mif-hammer icon"></span>
                        <span class="title">New Component</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="cell auto-size bg-white form-page-main-container">
            <div id="loadingDiv" class="dialog-overlay default loading-background ">
                <div data-role="preloader" data-type="cycle" data-style="color"></div>
            </div>
            <div id="partial-view-container" class="padding20">
                @*By default the Search partial view will be loaded*@
                @Html.Partial("_Search")
            </div>
        </div>
    </div>
</div>
<script>
    function LoadPartialView(viewName)
    {
        $('#partial-view-container').load(viewName);
    }
</script>

