@model EasyMaintain.CoreWebMVC.Models.InventoryViewModel

<h1 class="text-light">Create Restock Order</h1>



<div class="tabcontrol2" data-role="tabcontrol" data-on-tab-click="tab_click" data-on-tab-change="tab_change">
    <ul class="tabs">
        <li><a href="#frame_1">Create Restock Order</a></li>
        <li><a href="#frame_2">Delivery Details</a></li>
    </ul>
    <div class="frames">
        <div class="frame" id="frame_1">
            <hr />

            <div class="example">
                <div class="flex-grid">
                    <div class="row cells2">
                        <div class="cell-form margin-right-10 cell size4">
                            <label>Component Name</label>
                            <div class="input-control text full-size">

                            </div>
                        </div>
                        <div class="cell-form margin-right-10 cell size4">
                            <label class="display-block">Workshop</label>
                            <div class="input-control select full-size">

                            </div>
                        </div>
                        <div class="cell-form margin-right-10 cell size4">
                            <label class="display-block">Creation Date</label>
                            <div class="input-control select full-size">

                            </div>
                        </div>
                    </div>
                    <div class="row cells2">
                        <div class="cell-form margin-right-10 cell size4">
                            <label>Serial Number</label>
                            <div class="input-control text full-size">

                            </div>
                        </div>
                        <div class="cell-form margin-right-10 cell size4">
                            <label>Flight Number</label>
                            <div class="input-control text full-size">

                            </div>
                        </div>
                    </div>
                    <div class="row cells2">
                        <div class="cell-form margin-right-10 cell size4">
                            <label class="display-block">Description</label>
                            <div class="input-control textarea full-size">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="button primary" onclick="newWorkOrder()"><span class="mif-plus"></span> Create</button>
        </div>
        <div class="frame" id="frame_2">
            <div class="frame" id="frame_2">
                <div class="frame" id="frame_1">
                    <hr />

                    <div class="example">
                        <div class="flex-grid">
                            <div class="row cells2">
                                <div class="cell-form margin-right-10 cell size4">
                                    <label class="display-block">Delivery Method</label>
                                    <div class="input-control select full-size">

                                    </div>
                                </div>
                                <div class="cell-form margin-right-10 cell size4">
                                    <label>Delivery Date</label>
                                    <div class="input-control text full-size">
                                        <div class="input-control text" data-role="datepicker">
                                            <input type="text" id="endDate">
                                            <button class="button"><span class="mif-calendar"></span></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="cell-form margin-right-10 cell size4">
                                    <label>Address</label>
                                    <div class="input-control text full-size">
                                        <div class="input-control text full-size">

                                        </div>
                                        <div class="input-control text full-size">

                                        </div>
                                        <div class="input-control text full-size">

                                        </div>
                                        <div class="input-control text full-size">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row cells2">
                                <div class="cell-form margin-right-10 cell size4">
                                    <label>Person InCharge</label>
                                    <div class="input-control text full-size">

                                    </div>
                                </div>
                            </div>
                            <div class="row cells2">
                                <div class="cell-form margin-right-10 cell size4">
                                    <label class="display-block">Additional Notes</label>
                                    <div class="input-control textarea full-size">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="button primary" onclick="newWorkOrder()"><span class="mif-plus"></span> Create</button>
            </div>
        </div>
    </div>
</div>





<script>

    function tab_click(tab){
        console.log(tab);
        return true;
    }
    function tab_change(tab){
        console.log(tab);
    }

    function nextTab(tab) {
        tab_click(tab);
        tab_change(tab);
    }



</script>


