@model EasyMaintain.CoreWebMVC.Models.MaintenanceViewModel

<h1 class="text-light">Inventory</h1>


<div class="input-control text" data-role="input">
    
    <input type="text">
    <button class="button primary"><span class="mif-search"></span></button>
</div>

<table class="dataTable border bordered" data-auto-width="false">
    <thead>
        <tr>
            <td class="sortable-column sort-asc" style="width: 100px">PartID</td>
            <td class="sortable-column">Name</td>
            <td class="sortable-column">Manufacturer</td>
            <td class="sortable-column"style="width: 100px">View</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var workOrder in Model.MaintenanceOrders)
        {
            <tr>
                <td>@workOrder.WorkID</td>
                <td>@workOrder.FlightModel</td>
                <td>@workOrder.StartDate</td>
                <td class="align-center"><button class="toolbar-button" onclick="LoadWorkOrder(@workOrder.WorkID)"><span class="mif-pencil"></span></button></td>
            </tr>
        }
     </tbody>
</table>


<script>
    function LoadWorkOrder(viewName)
    {
        $.ajax({
            url: '/maintenance/EditMaintenanceOrder',
            type: 'GET',
            data: {
                WorkID: viewName
            },
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                debugger;
                $('#partial-view-container').html(data);
            },
        });
    }
</script>
