@model EasyMaintain.CoreWebMVC.Models.InventoryViewModel

<h1 class="text-light">Manage Requests</h1>

<table class="dataTable border bordered" data-auto-width="false">
    <thead>
        <tr>
            <td class="sortable-column sort-asc" style="width: 100px">InvoiceNo</td>
            <td class="sortable-column">Customer Name</td>
            <td class="sortable-column">Delivery Date</td>
            <td class="sortable-column" style="width: 100px">View</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var workOrder in Model.InventoryOrders)
        {
            <tr>
                <td>@workOrder.InvoiceNumber</td>
                <td>@workOrder.CustomerName</td>
                <td>@workOrder.Deliverydetails.DeliveryDate</td>
                <td class="align-center"><button class="toolbar-button" onclick="LoadWorkOrder(@workOrder.CustomerID)"><span class="mif-pencil"></span></button></td>
            </tr>
        }
    </tbody>
</table>

<script>
    function LoadWorkOrder(viewName)
    {
        var Model = { CustomerID : viewName  }

        $.ajax({
            url: 'EditOrder',
            type: 'POST',
            data: JSON.stringify(Model),
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                debugger;
                $('#partial-view-container').html(data);
            },
            error: function(){
                $.Notify({
                    caption: 'Component Work',
                    content: 'WorkOrder Editing Failed .',
                    type: 'alert'
                });
            }
        });

    }
</script>
