<configuration>
   <runtime>
      <gcServer enabled="true"/>
   </runtime>
  <connectionStrings>
    <add name="EasyMaintainDBTest" providerName="System.Data.SqlClient" connectionString="data source=.\SQLExpress;initial catalog=EasyMaintainDBTest;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" />
  </connectionStrings>
</configuration>
