@model EasyMaintain.CoreWebMVC.Models.SparePartsViewModel

@{
    ViewBag.Title = "Spare Parts";
}

<div class="flex-grid no-responsive-future" style="height: 100%;">
    <div class="row" style="height: 100%">
        <div class="cell size-x200" id="cell-sidebar" style="background-color: #71b1d1; height: 100%">
            <ul class="sidebar">
                <li class="active">
                    <a href="#" onclick="LoadPartialView('SpareParts')">
                        <span class="mif-widgets icon"></span>
                        <span class="title">Spare Parts</span>
                        <span class="counter">0</span>
                    </a>
                </li>
                <li>
                    <a href="#" onclick="LoadPartialView('Categories')">
                        <span class="mif-stack3 icon"></span>
                        <span class="title">Categories</span>
                        <span class="counter">0</span>
                    </a>
                </li>
                <li>
                    <a href="#" onclick="LoadPartialView('AircraftModels')">
                        <span class="mif-space-shuttle icon"></span>
                        <span class="title">Aircraft Models</span>
                        <span class="counter">2</span>
                    </a>
                </li>
                <li>
                    <a href="#" onclick="LoadPartialView('Manufactures')">
                        <span class="mif-location-city icon"></span>
                        <span class="title">Manufactures</span>
                        <span class="counter">0</span>
                    </a>
                </li>
                <li>
                    <a href="#" onclick="LoadPartialView('Suppliers')">
                        <span class="mif-truck icon"></span>
                        <span class="title">Suppliers</span>
                        <span class="counter">0</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="cell auto-size bg-white form-page-main-container">
            <div id="loadingDiv" class="dialog-overlay default loading-background ">
                <div data-role="preloader" data-type="cycle" data-style="color"></div>
            </div>
            <div id="partial-view-container" class="padding20">
                @*By default the Search partial view will be loaded*@
                @Html.Partial("_SpareParts", Model) 
            </div>
        </div>
    </div>
</div>
<script>
    function LoadPartialView(viewName)
    {
        $('#partial-view-container').load(viewName);
    }
</script>