@model EasyMaintain.CoreWebMVC.Models.AccountViewModels.UserDataModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Easy Maintain</title>

    <link href="~/Content/metro.css" rel="stylesheet" />
    <link href="~/Content/metro-icons.css" rel="stylesheet" />
    <link href="~/Content/metro-responsive.css" rel="stylesheet" />
    <link href="~/Content/custom.css" rel="stylesheet" />
    <link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />

</head>
<body class="bg-steel no-scroll-y">
    <div class="app-bar fixed-top darcula" data-role="appbar">
        <a class="app-bar-element branding" href="/Home/Index">
            <span class="mif-home"></span>
        </a>
        <span class="app-bar-divider"></span>
        <ul class="app-bar-menu">
            <li><a href="">File</a></li>
            <li><a href="">Edit</a></li>
            <li><a href="">Tree</a></li>
            <li><a href="">List</a></li>
            <li><a href="">Bookmarks</a></li>
            <li><a href="">Database Utility</a></li>
            <li><a href="">Settings</a></li>
            <li><a href="">Tools</a></li>
            <li><a href="">Help</a></li>
        </ul>
        <div class="app-bar-element place-right">
            
            <span class="dropdown-toggle"><span class="mif-cog"></span>@Html.Raw(Model.Name)</span>
          
            <div class="app-bar-drop-container padding10 place-right no-margin-top block-shadow fg-dark" data-role="dropdown" data-no-close="true" style="width: 220px">
                <h2 class="text-light">Quick settings</h2>
                <ul class="unstyled-list fg-dark">
                    <li><a href="" class="fg-white1 fg-hover-yellow">Profile</a></li>
                    <li><a href="" class="fg-white2 fg-hover-yellow">Security</a></li>
                    <li><a href="" class="fg-white3 fg-hover-yellow">Exit</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="page-content">
        @RenderBody()
    </div>

    <div class="form-page-main-container">
        
    </div>
        
    
    <script src="~/Scripts/jquery-2.1.3.min.js"></script>
    <script src="~/Scripts/metro.js"></script>
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/custom.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    @RenderSection("scripts", required: false)

</body>
</html>