@model EasyMaintain.CoreWebMVC.Models.MaintenanceViewModel
@{
    ViewBag.Title = "Maintenance";
}

<div class="flex-grid no-responsive-future" style="height: 100%;">
    <div class="row" style="height: 100%">
        <div class="cell size-x200" id="cell-sidebar" style="background-color: #71b1d1; height: 100%">
            <ul class="sidebar">
                <li class="active">
                    <a href="#" onclick="LoadPartialView('Search')">
                        <span class="mif-search icon"></span>
                        <span class="title">Search</span>
                    </a>
                </li>
                <li>
                    <a href="#" onclick="LoadPartialView('NewMaintenanceOrder')">
                        <span class="mif-plus icon"></span>
                        <span class="title">Create</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="cell auto-size padding20 bg-white form-page-main-container" id="partial-view-container">
            @*By default the Search partial view will be loaded*@
            @Html.Partial("_Search")
        </div>
    </div>
</div>

@section scripts
{
    <script>
        function LoadPartialView(viewName)
        {
            $('#partial-view-container').load(viewName);
        }
    </script>
}

